input.awesome.grana, input.awesome.grana:visited {
    background-color: #940000;
}

input.shadow {
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input.shadow:focus {
    box-shadow: 0 0 5px rgba(148, 0, 0, 1);
    -webkit-box-shadow: 0 0 5px rgba(148, 0, 0, 1);
    -moz-box-shadow: 0 0 5px rgba(148, 0, 0, 1);
    border: 1px solid rgba(148, 0, 0, 1);
}

form.top_form input.large { 
  width: 150px;
}

#footer img{
    vertical-align:middle;
}

.rating_bar {
  width: 55px;
  background: url(/images/star_x_grey.gif) 0 0 repeat-x;
}

.rating_bar div {
  height: 12px;
  background: url(/images/star_x_orange.gif) 0 0 repeat-x;
}

div#gotocontent, div#gotomenu {
	position: absolute;
	left: -9000px;
}

