<div id="footer">
	<ul>
		<li><%= link_to t('footer.home'), root_path %></li>
		<li><%= link_to t('footer.electrical_appliances'), appliances_path %></li>
		<li><%= link_to t('footer.cars'), cars_path %></li>
		<li><%= link_to t('footer.abredatos'), ABREDATOS_URL %></li>
	</ul>
</div>

