<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Desenchufa tu casa - Estamos "trabajando" en ello...</title>

    <style>
      *{
        border: none;
      }

      body{
        background-color: f0f1f5;
      }

      div{
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 177px;
      }
      p{
        text-align:center;
        font-family: Arial;
        font-size: 12px;
        margin-top: 30px;
      }
      p span{
        text-decoration: line-through;
      }

    </style>

  </head>
  <body>
    <div>
      <a href="http://live.abredatos.es/"><img 
        src="/images/logo_abredatos.png"></a>
      <p>Estamos <span>trabajando</span> en ello...</p>
    </div>
  </body>
</html>

