$("<%= @klass %>-<%= params[:id] %>").replace('<%= comparator_link(params[:id], @klass) %>');

if ($('comparator')) {
<% message = t("cars.index.#{@klass}_selected", :count => session[@klass].try(:size) || 0 ) %>
    $('comparator').down('p').replace("<p><%= message %></p>");
    new Effect.Highlight($('comparator').down('p'));
}