<p id="slogan">Renault Laguna 1.1 fdksalfjda TDI</p>

<div id="content">

	<div id="main">
	
		<h2>Datos Técnicos</h2>
		
		<table>
		  <summary>Detalles técnicos del vehículo</summary>
		  <thead>
  		  <tr>
  		    <th>Característica</th>
  		    <th>Valor</th>
  		  </tr>
  		</thead>
  		<tbody>
  		  <tr>
  		    <td>Tipo de vehículo</td>
  		    <td>Berlinas y Familiares grandes </td>
  		  </tr>
  		  <tr class="even">
  		    <td>Motorización</td>
  		    <td>Gasolina</td>
  		  </tr>
  		</tbody>
  	</table>

	</div>

  <div id="side">
	
  	<h2>Opciones</h2>
  	
  	<h3>Volver a la búsqueda</h3>
  	<h3>Imprimir</h3>
  	<a id="ck_email" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/email.gif" /></a>
    <a id="ck_facebook" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/facebook.gif" /></a>
    <a id="ck_twitter" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/twitter.gif" /></a>
    <a id="ck_sharethis" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/sharethis.gif" /><%=t(:share_this) %></a>
    <script type="text/javascript">
    	var shared_object = SHARETHIS.addEntry({
    	title: document.title,
    	url: document.location.href
    });

    shared_object.attachButton(document.getElementById("ck_sharethis"));
    shared_object.attachChicklet("email", document.getElementById("ck_email"));
    shared_object.attachChicklet("facebook", document.getElementById("ck_facebook"));
    shared_object.attachChicklet("twitter", document.getElementById("ck_twitter"));
    </script>
    
	
  </div>

</div>