<p id="slogan">Renault Laguna 1.1 fdksalfjda TDI</p>

<div id="content">

	<div id="main">
	
		<h2>Datos Técnicos</h2>
		
		<table>
		  <summary>Detalles técnicos del vehículo</summary>
		  <thead>
  		  <tr>
  		    <th>Característica</th>
  		    <th>Valor</th>
  		  </tr>
  		</thead>
  		<tbody>
  		  <tr>
  		    <td>Tipo de vehículo</td>
  		    <td>Berlinas y Familiares grandes </td>
  		  </tr>
  		  <tr class="even">
  		    <td>Motorización</td>
  		    <td>Gasolina</td>
  		  </tr>
  		</tbody>
  	</table>

	</div>
	
</div>

<div id="side">
	
	<h2>Latest Updates</h2>
	
</div>