<h1 id="slogan">El equipo de Desenchufa Tu Casa</h1>

<div id="content">

	<div id="main">
	
		<h2>Porque hemos creado esta web</h2>
	
		<p>Esta web pretende concienciar a la mayor cantidad de gente posible de la necesidad de que los datos que maneja la administración sean abiertos, es decir, estén disponibles para su consulta.  Además deberían accesibles en formatos estándares que permitan su explotación y uso por parte de nosotros los ciudadanos, es decir, quienes pagamos a los políticos y quienes con nuestro voto les hemos encargado que nos sirvan de forma eficiente.</p>
					
		<h3>Quienes somos</h3>
		
		<ul class="items">
			<li class="first">					
				<h4>Javier Lafora, CEO</h4>
				<p><img src="/images/javier.png" alt="Javier Lafora" /><a href="http://twitter.com/elafo" title="mi cuenta de twitter">Twitter: @elafo</a></p>
			</li>
			<li>
				<h4>Francisco Guzmán, CTO</h4>
				<p><img src="/images/paco.png" alt="Francisco Guzmán" /><a href="http://twitter.com/pacoguzman" title="mi cuenta de twitter">Twitter: @pacoguzman</a></p>
			</li>		
			<li>
				<h4>Rafael García, CIO</h4>
				<p><img src="/images/rafa.png" alt="Rafael García" /><a href="http://twitter.com/leptom" title="mi cuenta de twitter">Twitter: @leptom</a></p>
			</li>											
			<li>
				<h4>Jorge Álvarez, Mangarrán</h4>
				<p><img src="/images/jorge.png" alt="Jorge Alvarez" /><a href="http://twitter.com/jorgegorka" title="mi cuenta de twitter">Twitter: @jorgegorka</a></p>
			</li>		
  		
		</ul>			
	
	</div>
	
	<div id="side">
		
		<h2>Que es Abredatos</h2>		
					
		<ul class="list">
			<li class="first">
				<h3>Objetivos</h3>
				<p>El uso de <a href="http://abredatos.es" title="Concurso de 48 horas de desarrollo expréss">los datos generados por la administración</a> debería ser un derecho para cualquier ciudadano, ya que su producción se ha financiado con los impuestos de todos. Por otro lado, la explotación de los datos por parte de la sociedad genera usos creativos y servicios que la administración no tiene capacidad ni obligación de proporcionar, incrementado colectivamente el bien común.</p>
			</li>
			<li>
				<h3>Quién lo impulsa</h3>
				<p><a href="http://www.probp.org/" title="Asociación para la difusión y promoción de estándares">Pro Bono Publico</a> es una asociación abierta a todo la población que busca ayudar a la promoción y la difusión de estándares, datos y plataformas tecnológicas abiertas entre las instituciones públicas.</p>
			</li>							
		</ul>
		
	</div>		

</div>